
  .appartement{
    width: 1350px;
    padding-top: 50px;
    background-color: #f7f7f7;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px auto 30px;
  }

  @media screen and (max-width: 1490px){
    .appartement{
    margin: auto;
    width: 335px;
    }
  }