.Banniere{
    position: relative;
    height: 200px;
    margin: auto;
    width: 90%;
   
}
.image{
   
    width: 100%;
    height:100%;
    border-radius: 25px;
    filter: brightness(55%);
    position: absolute;
}

.Texte{
   
   color: white;
   font-size: 48px;
   top: 50%;
  transform: translate(50%, -50%);
   position: absolute;
}

@media screen and (max-width: 1490px){
    .Texte{ 
        font-size: 24px;
        top: 15%;
       transform: translate(4%, 50%);
       
     }   
}