header{
     display: flex;
     margin: 40px;
}

header img {
    width: 190px;
    height: 60px;
}

nav{
width: 100%;
display: flex;
justify-content: flex-end;
}

.style-list{
    font-size: 24px;
    line-height: 34px;
    color: #FF6060;
    margin: auto 30px;
    text-decoration: none;

}

.style-list:hover{
    cursor: pointer;
    border-bottom: 3px solid #FF6060;
}

@media screen and (max-width: 1490px){
    header{
        width: 90%;
        margin: 40px 5%;
    }

    header img {
        width: 150px;
      
    }

    .style-list{
      
        margin: auto 25px;
        font-size: 12px;
    
    }
}